body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2025px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2902_img {
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:48px;
}
#u2902 {
  position:absolute;
  left:555px;
  top:78px;
  width:323px;
  height:48px;
}
#u2903 {
  position:absolute;
  left:2px;
  top:16px;
  width:319px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2904_img {
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:509px;
}
#u2904 {
  position:absolute;
  left:555px;
  top:175px;
  width:323px;
  height:509px;
}
#u2905 {
  position:absolute;
  left:2px;
  top:246px;
  width:319px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2906_img {
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:73px;
}
#u2906 {
  position:absolute;
  left:555px;
  top:122px;
  width:323px;
  height:73px;
}
#u2907 {
  position:absolute;
  left:2px;
  top:28px;
  width:319px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2908_img {
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:69px;
}
#u2908 {
  position:absolute;
  left:555px;
  top:116px;
  width:323px;
  height:69px;
}
#u2909 {
  position:absolute;
  left:2px;
  top:26px;
  width:319px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2910_div {
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  line-height:20px;
}
#u2910 {
  position:absolute;
  left:578px;
  top:121px;
  width:228px;
  height:60px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  line-height:20px;
}
#u2911 {
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  white-space:nowrap;
}
#u2912_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 102, 52, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u2912 {
  position:absolute;
  left:684px;
  top:655px;
  width:65px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u2913 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u2914_img {
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:48px;
}
#u2914 {
  position:absolute;
  left:952px;
  top:78px;
  width:323px;
  height:48px;
}
#u2915 {
  position:absolute;
  left:2px;
  top:16px;
  width:319px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2916_img {
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:509px;
}
#u2916 {
  position:absolute;
  left:952px;
  top:175px;
  width:323px;
  height:509px;
}
#u2917 {
  position:absolute;
  left:2px;
  top:246px;
  width:319px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2918_img {
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:73px;
}
#u2918 {
  position:absolute;
  left:952px;
  top:122px;
  width:323px;
  height:73px;
}
#u2919 {
  position:absolute;
  left:2px;
  top:28px;
  width:319px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2920_img {
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:69px;
}
#u2920 {
  position:absolute;
  left:952px;
  top:116px;
  width:323px;
  height:69px;
}
#u2921 {
  position:absolute;
  left:2px;
  top:26px;
  width:319px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2922_div {
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  line-height:20px;
}
#u2922 {
  position:absolute;
  left:975px;
  top:123px;
  width:228px;
  height:60px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  line-height:20px;
}
#u2923 {
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  white-space:nowrap;
}
#u2924_img {
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:48px;
}
#u2924 {
  position:absolute;
  left:1702px;
  top:78px;
  width:323px;
  height:48px;
}
#u2925 {
  position:absolute;
  left:2px;
  top:16px;
  width:319px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2926_img {
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:509px;
}
#u2926 {
  position:absolute;
  left:1702px;
  top:126px;
  width:323px;
  height:509px;
}
#u2927 {
  position:absolute;
  left:2px;
  top:246px;
  width:319px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2928_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:22px;
  height:106px;
}
#u2928p000 {
  position:absolute;
  left:-47px;
  top:46px;
  width:96px;
  height:2px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u2928p000_img {
  position:absolute;
  left:-14px;
  top:-6px;
  width:116px;
  height:14px;
}
#u2928p001 {
  position:absolute;
  left:-10px;
  top:-6px;
  width:22px;
  height:22px;
}
#u2928p001_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:42px;
  height:34px;
}
#u2928p002 {
  position:absolute;
  left:0px;
  top:93px;
  width:2px;
  height:2px;
}
#u2928p002_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:22px;
  height:14px;
}
#u2928.compound {
  width:0px;
  height:0px;
}
#u2928 {
  position:absolute;
  left:669px;
  top:50px;
  width:2px;
  height:94px;
}
#u2929 {
  position:absolute;
  left:2px;
  top:39px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2930_div {
  position:absolute;
  left:0px;
  top:0px;
  width:382px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#0099FF;
}
#u2930 {
  position:absolute;
  left:605px;
  top:21px;
  width:382px;
  height:19px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#0099FF;
}
#u2931 {
  position:absolute;
  left:0px;
  top:0px;
  width:382px;
  white-space:nowrap;
}
#u2932_div {
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:41px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u2932 {
  position:absolute;
  left:555px;
  top:643px;
  width:323px;
  height:41px;
  font-size:16px;
  color:#FFFFFF;
}
#u2933 {
  position:absolute;
  left:2px;
  top:10px;
  width:319px;
  word-wrap:break-word;
}
#u2934_img {
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:48px;
}
#u2934 {
  position:absolute;
  left:1312px;
  top:78px;
  width:323px;
  height:48px;
}
#u2935 {
  position:absolute;
  left:2px;
  top:16px;
  width:319px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2936_img {
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:509px;
}
#u2936 {
  position:absolute;
  left:1312px;
  top:175px;
  width:323px;
  height:509px;
}
#u2937 {
  position:absolute;
  left:2px;
  top:246px;
  width:319px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2938_img {
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:73px;
}
#u2938 {
  position:absolute;
  left:1312px;
  top:122px;
  width:323px;
  height:73px;
}
#u2939 {
  position:absolute;
  left:2px;
  top:28px;
  width:319px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2940_img {
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:69px;
}
#u2940 {
  position:absolute;
  left:1312px;
  top:116px;
  width:323px;
  height:69px;
}
#u2941 {
  position:absolute;
  left:2px;
  top:26px;
  width:319px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2942_div {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  line-height:20px;
}
#u2942 {
  position:absolute;
  left:1335px;
  top:132px;
  width:144px;
  height:40px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  line-height:20px;
}
#u2943 {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  white-space:nowrap;
}
#u2944_div {
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:41px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u2944 {
  position:absolute;
  left:952px;
  top:643px;
  width:323px;
  height:41px;
  font-size:16px;
  color:#FFFFFF;
}
#u2945 {
  position:absolute;
  left:2px;
  top:10px;
  width:319px;
  word-wrap:break-word;
}
#u2946_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:123px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2946 {
  position:absolute;
  left:910px;
  top:819px;
  width:200px;
  height:123px;
}
#u2947 {
  position:absolute;
  left:2px;
  top:54px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2948_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u2948 {
  position:absolute;
  left:994px;
  top:830px;
  width:29px;
  height:16px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u2949 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u2950_div {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2950 {
  position:absolute;
  left:926px;
  top:857px;
  width:170px;
  height:32px;
}
#u2951 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  white-space:nowrap;
}
#u2952_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2952 {
  position:absolute;
  left:911px;
  top:906px;
  width:99px;
  height:35px;
}
#u2953 {
  position:absolute;
  left:2px;
  top:8px;
  width:95px;
  word-wrap:break-word;
}
#u2954_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:35px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u2954 {
  position:absolute;
  left:1010px;
  top:906px;
  width:99px;
  height:35px;
  color:#FFFFFF;
}
#u2955 {
  position:absolute;
  left:2px;
  top:8px;
  width:95px;
  word-wrap:break-word;
}
#u2956_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:153px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2956 {
  position:absolute;
  left:1135px;
  top:820px;
  width:200px;
  height:153px;
}
#u2957 {
  position:absolute;
  left:2px;
  top:68px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2958_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u2958 {
  position:absolute;
  left:1219px;
  top:830px;
  width:29px;
  height:16px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u2959 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u2960_div {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:20px;
}
#u2960 {
  position:absolute;
  left:1151px;
  top:858px;
  width:183px;
  height:60px;
  line-height:20px;
}
#u2961 {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  white-space:nowrap;
}
#u2962_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2962 {
  position:absolute;
  left:1135px;
  top:938px;
  width:99px;
  height:35px;
}
#u2963 {
  position:absolute;
  left:2px;
  top:8px;
  width:95px;
  word-wrap:break-word;
}
#u2964_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:35px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u2964 {
  position:absolute;
  left:1235px;
  top:938px;
  width:99px;
  height:35px;
  color:#FFFFFF;
}
#u2965 {
  position:absolute;
  left:2px;
  top:8px;
  width:95px;
  word-wrap:break-word;
}
#u2966_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#0099FF;
}
#u2966 {
  position:absolute;
  left:982px;
  top:794px;
  width:65px;
  height:19px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#0099FF;
}
#u2967 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u2968_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#0099FF;
}
#u2968 {
  position:absolute;
  left:1207px;
  top:794px;
  width:65px;
  height:19px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#0099FF;
}
#u2969 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u2970 {
  position:absolute;
  left:1115px;
  top:684px;
  width:0px;
  height:0px;
}
#u2970_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:44px;
}
#u2970_seg1 {
  position:absolute;
  left:-94px;
  top:36px;
  width:98px;
  height:8px;
}
#u2970_seg2 {
  position:absolute;
  left:-94px;
  top:36px;
  width:8px;
  height:64px;
}
#u2970_seg3 {
  position:absolute;
  left:-100px;
  top:85px;
  width:20px;
  height:20px;
}
#u2971 {
  position:absolute;
  left:-105px;
  top:32px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2972 {
  position:absolute;
  left:1115px;
  top:684px;
  width:0px;
  height:0px;
}
#u2972_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:44px;
}
#u2972_seg1 {
  position:absolute;
  left:-4px;
  top:36px;
  width:138px;
  height:8px;
}
#u2972_seg2 {
  position:absolute;
  left:126px;
  top:36px;
  width:8px;
  height:64px;
}
#u2972_seg3 {
  position:absolute;
  left:120px;
  top:85px;
  width:20px;
  height:20px;
}
#u2973 {
  position:absolute;
  left:25px;
  top:32px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2974_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u2974 {
  position:absolute;
  left:1410px;
  top:42px;
  width:127px;
  height:22px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u2975 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u2976_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u2976 {
  position:absolute;
  left:1800px;
  top:42px;
  width:127px;
  height:22px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u2977 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u2978_img {
  position:absolute;
  left:-10px;
  top:-1px;
  width:22px;
  height:51px;
}
#u2978p000 {
  position:absolute;
  left:-20px;
  top:19px;
  width:42px;
  height:2px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u2978p000_img {
  position:absolute;
  left:-6px;
  top:-6px;
  width:62px;
  height:13px;
}
#u2978p001 {
  position:absolute;
  left:0px;
  top:-1px;
  width:2px;
  height:2px;
}
#u2978p001_img {
  position:absolute;
  left:-10px;
  top:-1px;
  width:22px;
  height:13px;
}
#u2978p002 {
  position:absolute;
  left:-10px;
  top:24px;
  width:22px;
  height:22px;
}
#u2978p002_img {
  position:absolute;
  left:-10px;
  top:-1px;
  width:42px;
  height:33px;
}
#u2978.compound {
  width:0px;
  height:0px;
}
#u2978 {
  position:absolute;
  left:724px;
  top:684px;
  width:2px;
  height:40px;
}
#u2979 {
  position:absolute;
  left:2px;
  top:12px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2980_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#0099FF;
}
#u2980 {
  position:absolute;
  left:645px;
  top:734px;
  width:161px;
  height:50px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#0099FF;
}
#u2981 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
