body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1152px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4658_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1118px;
  height:765px;
}
#u4658 {
  position:absolute;
  left:34px;
  top:230px;
  width:1118px;
  height:765px;
}
#u4659 {
  position:absolute;
  left:2px;
  top:374px;
  width:1114px;
  visibility:hidden;
  word-wrap:break-word;
}
