body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1056px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:182px;
  width:946px;
  height:1113px;
}
#u1_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:68px;
}
#u1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:68px;
}
#u1_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:177px;
  word-wrap:break-word;
}
#u2_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  height:68px;
}
#u2 {
  border-width:0px;
  position:absolute;
  left:181px;
  top:0px;
  width:325px;
  height:68px;
}
#u2_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:321px;
  word-wrap:break-word;
}
#u3_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  height:68px;
}
#u3 {
  border-width:0px;
  position:absolute;
  left:506px;
  top:0px;
  width:365px;
  height:68px;
}
#u3_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:361px;
  word-wrap:break-word;
}
#u4_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:68px;
}
#u4 {
  border-width:0px;
  position:absolute;
  left:871px;
  top:0px;
  width:75px;
  height:68px;
}
#u4_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:71px;
  word-wrap:break-word;
}
#u5_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:164px;
}
#u5 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:68px;
  width:181px;
  height:164px;
}
#u5_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:74px;
  width:177px;
  word-wrap:break-word;
}
#u6_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  height:164px;
}
#u6 {
  border-width:0px;
  position:absolute;
  left:181px;
  top:68px;
  width:325px;
  height:164px;
  text-align:left;
}
#u6_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:321px;
  word-wrap:break-word;
}
#u7_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  height:164px;
}
#u7 {
  border-width:0px;
  position:absolute;
  left:506px;
  top:68px;
  width:365px;
  height:164px;
  text-align:left;
}
#u7_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:361px;
  word-wrap:break-word;
}
#u8_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:164px;
}
#u8 {
  border-width:0px;
  position:absolute;
  left:871px;
  top:68px;
  width:75px;
  height:164px;
}
#u8_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:212px;
}
#u9 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:232px;
  width:181px;
  height:212px;
}
#u9_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:98px;
  width:177px;
  word-wrap:break-word;
}
#u10_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  height:212px;
}
#u10 {
  border-width:0px;
  position:absolute;
  left:181px;
  top:232px;
  width:325px;
  height:212px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u10_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:30px;
  width:321px;
  word-wrap:break-word;
}
#u11_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  height:212px;
}
#u11 {
  border-width:0px;
  position:absolute;
  left:506px;
  top:232px;
  width:365px;
  height:212px;
  text-align:left;
}
#u11_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:74px;
  width:361px;
  word-wrap:break-word;
}
#u12_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:212px;
}
#u12 {
  border-width:0px;
  position:absolute;
  left:871px;
  top:232px;
  width:75px;
  height:212px;
}
#u12_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:98px;
  width:71px;
  word-wrap:break-word;
}
#u13_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:114px;
}
#u13 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:444px;
  width:181px;
  height:114px;
}
#u13_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:49px;
  width:177px;
  word-wrap:break-word;
}
#u14_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  height:114px;
}
#u14 {
  border-width:0px;
  position:absolute;
  left:181px;
  top:444px;
  width:325px;
  height:114px;
  text-align:left;
}
#u14_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:49px;
  width:321px;
  word-wrap:break-word;
}
#u15_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  height:114px;
}
#u15 {
  border-width:0px;
  position:absolute;
  left:506px;
  top:444px;
  width:365px;
  height:114px;
  text-align:left;
}
#u15_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:49px;
  width:361px;
  word-wrap:break-word;
}
#u16_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:114px;
}
#u16 {
  border-width:0px;
  position:absolute;
  left:871px;
  top:444px;
  width:75px;
  height:114px;
}
#u16_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:49px;
  width:71px;
  word-wrap:break-word;
}
#u17_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:131px;
}
#u17 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:558px;
  width:181px;
  height:131px;
}
#u17_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:58px;
  width:177px;
  word-wrap:break-word;
}
#u18_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  height:131px;
}
#u18 {
  border-width:0px;
  position:absolute;
  left:181px;
  top:558px;
  width:325px;
  height:131px;
  text-align:left;
}
#u18_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:58px;
  width:321px;
  word-wrap:break-word;
}
#u19_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  height:131px;
}
#u19 {
  border-width:0px;
  position:absolute;
  left:506px;
  top:558px;
  width:365px;
  height:131px;
  text-align:left;
}
#u19_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:58px;
  width:361px;
  word-wrap:break-word;
}
#u20_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:131px;
}
#u20 {
  border-width:0px;
  position:absolute;
  left:871px;
  top:558px;
  width:75px;
  height:131px;
}
#u20_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:58px;
  width:71px;
  word-wrap:break-word;
}
#u21_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:212px;
}
#u21 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:689px;
  width:181px;
  height:212px;
}
#u21_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:98px;
  width:177px;
  word-wrap:break-word;
}
#u22_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  height:212px;
}
#u22 {
  border-width:0px;
  position:absolute;
  left:181px;
  top:689px;
  width:325px;
  height:212px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u22_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:78px;
  width:321px;
  word-wrap:break-word;
}
#u23_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  height:212px;
}
#u23 {
  border-width:0px;
  position:absolute;
  left:506px;
  top:689px;
  width:365px;
  height:212px;
  text-align:left;
}
#u23_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:82px;
  width:361px;
  word-wrap:break-word;
}
#u24_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:212px;
}
#u24 {
  border-width:0px;
  position:absolute;
  left:871px;
  top:689px;
  width:75px;
  height:212px;
}
#u24_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:212px;
}
#u25 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:901px;
  width:181px;
  height:212px;
}
#u25_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:98px;
  width:177px;
  word-wrap:break-word;
}
#u26_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  height:212px;
}
#u26 {
  border-width:0px;
  position:absolute;
  left:181px;
  top:901px;
  width:325px;
  height:212px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u26_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:96px;
  width:321px;
  word-wrap:break-word;
}
#u27_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  height:212px;
}
#u27 {
  border-width:0px;
  position:absolute;
  left:506px;
  top:901px;
  width:365px;
  height:212px;
  text-align:left;
}
#u27_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:98px;
  width:361px;
  word-wrap:break-word;
}
#u28_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:212px;
}
#u28 {
  border-width:0px;
  position:absolute;
  left:871px;
  top:901px;
  width:75px;
  height:212px;
}
#u28_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
