body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1680px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4660_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1485px;
  height:863px;
}
#u4660 {
  position:absolute;
  left:195px;
  top:173px;
  width:1485px;
  height:863px;
}
#u4661 {
  position:absolute;
  left:2px;
  top:424px;
  width:1481px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4662_img {
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:560px;
}
#u4662 {
  position:absolute;
  left:187px;
  top:1046px;
  width:334px;
  height:560px;
}
#u4663 {
  position:absolute;
  left:2px;
  top:272px;
  width:330px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4664_img {
  position:absolute;
  left:0px;
  top:0px;
  width:436px;
  height:628px;
}
#u4664 {
  position:absolute;
  left:521px;
  top:1042px;
  width:436px;
  height:628px;
}
#u4665 {
  position:absolute;
  left:2px;
  top:306px;
  width:432px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4666_img {
  position:absolute;
  left:0px;
  top:0px;
  width:718px;
  height:741px;
}
#u4666 {
  position:absolute;
  left:247px;
  top:1679px;
  width:718px;
  height:741px;
}
#u4667 {
  position:absolute;
  left:2px;
  top:362px;
  width:714px;
  visibility:hidden;
  word-wrap:break-word;
}
